body {
    background-color: #E9F525;
    width: 100vw;
    min-height: 100vh;
}

.title {
    font-family: 'KOTRAHOPE';
    text-align: center;
    font-size: 60px;
    color: #44470B;
    /* text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff */
}


.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}


.input-box {
    display: flex;
    flex-direction: column;
}